# Responsable global del repositorio
* fdematt
# Código fuente
/src/ fdematt
/scripts/ fdematt
# Tests
/tests/ fdematt
# Documentación
/docs/ fdematt
# Workflows y configuración de GitHub
/.github/ fdematt